.wrapper {
  position: relative;
  display: inline-flex;
}

.tooltip {
  position: absolute;
  display: flex;
  top: 100%;
  bottom: auto;
  left: 100%;
  right: auto;
  z-index: 1;

  pointer-events: none;
  user-select: none;

  opacity: 0;
  transition: opacity 0.15s ease;

  /* Defaults */
  --_bg: #333333;
  --_color: white;

  @media (prefers-color-scheme: light) {
    --_bg: white;
    --_color: black;
  }

  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: initial;
  color: var(--_color);
  width: max-content;
  background: var(--_bg);
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--_bg);
  margin: 0;
  padding: 0.35rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 15%))
    drop-shadow(0 2px 2px rgb(0 0 0 / 15%));
}

.wrapper > *:is(:hover, :focus-visible, :active) ~ .tooltip {
  opacity: 1;
  transition-delay: 200ms;
}

.top {
  top: auto;
  bottom: 100%;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
}

.bottom {
  top: 100%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.left {
  top: 50%;
  bottom: auto;
  left: auto;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
}

.right {
  top: 50%;
  bottom: auto;
  left: 100%;
  right: auto;
  transform: translateY(-50%);
  margin-left: 0.5rem;
}
