[data-sandbox-tooltip-wrapper] {
  position: relative;
  display: inline-flex;
}

[data-sandbox-tooltip] {
  position: absolute;
  display: flex;
  z-index: 1;

  /* Default position */
  top: auto;
  bottom: 100%;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin-bottom: 0.625rem;

  pointer-events: none;
  user-select: none;

  opacity: 0;
  transition: opacity 0.15s ease;

  --_bg: #181818;
  --_color: white;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.4;
  color: var(--_color);
  width: max-content;
  background: var(--_bg);
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--_bg);
  padding: 0.35rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 15%))
    drop-shadow(0 2px 2px rgb(0 0 0 / 15%));
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip] {
  opacity: 1;
  transition-delay: 200ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='0'] {
  transition-delay: 0ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='100'] {
  transition-delay: 100ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='200'] {
  transition-delay: 200ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='300'] {
  transition-delay: 300ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='400'] {
  transition-delay: 400ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='500'] {
  transition-delay: 500ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='750'] {
  transition-delay: 750ms;
}

[data-sandbox-tooltip-wrapper]
  > *:is(:hover, :focus-visible, :active)
  ~ [data-sandbox-tooltip][data-delay='1000'] {
  transition-delay: 1000ms;
}

[data-sandbox-tooltip][data-position='top'] {
  top: auto;
  bottom: 100%;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin-bottom: 0.625rem;
}

[data-sandbox-tooltip][data-position='bottom'] {
  top: 100%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  margin-top: 0.625rem;
  margin-bottom: 0;
}

[data-sandbox-tooltip][data-position='left'] {
  top: 50%;
  bottom: auto;
  left: auto;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 0.625rem;
  margin-bottom: 0;
}

[data-sandbox-tooltip][data-position='right'] {
  top: 50%;
  bottom: auto;
  left: 100%;
  right: auto;
  transform: translateY(-50%);
  margin-left: 0.625rem;
  margin-bottom: 0;
}

[data-sandbox-tooltip][data-disabled='true'] {
  opacity: 0 !important;
}
